*{
    padding: 0;
    margin: 0;
}

li {
	list-style: none;
}

/*清除浮动的*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.nav{
    position: fixed;
    width: 24.91666666666667%;
    height: 100%;
    background: rgba(217,215,222, 0.15);
}

nav .w{
    margin-top: 50%;
}

.nav .logo{
    text-align: right;
    margin-top: 45%;
    margin-right:5%;
}

.nav .logo h1{
    color: #503a70;
    font-size: 14px;  
    margin-bottom: 5%;
}

.nav .logo p{
    margin-top:1%;
    color: #747474;
    font-size: 6px;
    font-weight:200;
}

.nav ul li{
    text-align: right;
    margin-right:5%;
    margin-top: 15%;
}

.nav a{
    text-decoration: none;
    font-size: 11%;
    font-weight: 500;
    color: #464545;
}

.nav a:hover{
    color:#503a70;
    font-weight: 700;
}
.box{
    float: left;
    width: 65%;
    margin-left: 34.27%;

}


.box h1{
    margin-top: 8%;
    font-size: 16px;
    color: #503a70;    
}

.box h2{
    margin-top: 2%;
    font-size: 12px;
    color: #080808;   
}

.box p{
    margin-top: 5px;
    font-size: 6px;
    color: #747474;
    font-weight: 500;
}


.box li{
    float: left;
    margin-right:20px;
    margin-top: 20px;
}

.box li img{

    width: 95%;

}

.Third{
    height: 300px;
}